<h1>Todos</h1>
<main>
  <form *ngIf="taskRepo.metadata.apiInsertAllowed()" (submit)="addTask()">
    <input
      placeholder="What needs to be done?"
      [(ngModel)]="newTaskTitle"
      name="newTaskTitle"
    />
    <button type="submit">Add</button>
  </form>
  @for (task of tasks$ | async; track task.id) {
  <!-- <div class="todo" *ngFor="let task of tasks"> -->
  <div>
    <input
      type="checkbox"
      [(ngModel)]="task.completed"
      (change)="saveTask(task)"
      [ngModelOptions]="{ standalone: true }"
    />
    <input [(ngModel)]="task.title" [ngModelOptions]="{ standalone: true }" />
    <button (click)="saveTask(task)">Save</button>
    <button
      *ngIf="taskRepo.metadata.apiDeleteAllowed(task)"
      (click)="deleteTask(task)"
    >
      Delete
    </button>
  </div>
  }
  <div>
    <button (click)="setAllCompleted(true)">Set all as completed</button>
    <button (click)="setAllCompleted(false)">Set all as uncompleted</button>
  </div>
</main>
